body {
  margin-left: 15px;
  background: linear-gradient(
    306deg,
    rgba(232, 175, 195, 1) 50%,
    white 50%
  );
}

button:hover {
  background-color: orange;
  transition: 0.7s;
  box-shadow: 10px 5px 5px black;
}
